// .footer {
//     display: flex;
    
//     &__bloc {
//         display: block;
//         text-align: center;
//         align-items: center;
//         justify-content: center;
//         color: black;
//     }
//     &__blocbis {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         text-align: center;
//     }
// }

.footer {
    text-align: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.footer__bloc {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.footer__blocbis {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 600px; 
    margin-top: 20px;
    margin-left: 50px;
}

.footer__text,
.footer__contact {
    flex: 1; 
    text-align: left; 
    font-weight: 700;
    
}

.footer__contact {
    margin-top: 30px;
    margin-left: 100px;
}
.footer__titre {
    margin-bottom: 10px; 
    font-size: 19px;
    font-weight: 700;
}

.footer__copyright {
    margin-top: 30px;
    font-size: 9px;
}
