.home {
    color: black;
    &__banner {
        width: 100%;
        height: auto;
        margin-bottom: 70px;
    }
    &__banner:hover {
        filter: grayscale(100%);
    }
    &__blocphotos {
        background-color: #EDEEF2;
        padding-top: 5px;
        padding-bottom: 35px;
        text-align: center;
        margin-top: 50px; 
        margin-bottom: 70px; 
    }
    &__h1 {
        text-align: center;
        font-size: 38px;
    }
    &__photos {
        gap: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; 
    }
    &__photo1, &__photo2, &__photo3 {
        width: 345px; 
        height: 493px;
        object-fit: cover;
        margin: 5px;
       
    }
    &__button {
        width: 180px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff; 
        color: white; 
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 500;    
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 30px;
        text-decoration: none;
        margin-bottom: 20px;
    }
    &__button:hover {
        background-color: gray;
    }
    &__bandedemo {
        padding-top: 10px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: rgba(203,217,218,255);
        background-image: linear-gradient(315deg, #e7eeee 0%, #f4f7f7 74%);
        padding-bottom: 90px;
    }
    &__h2 {
        text-align: center;
        font-size: 38px;
    }
    &__video1 {
        width: 900px;
        object-fit: cover;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
            -4px -4px 6px 0 rgba(116, 125, 136, .5), 
          inset -4px -4px 6px 0 rgba(255,255,255,.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }

}



  
  