.photos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    &__bloc {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
    }
    &__book {
        width: 345px;
        height: 517px;
    }
    // &__book:hover {
    //     transform: scale(1.2);
    // }
    &__h1 {
        font-size: 38px;
        font-weight: 300;
        margin-bottom: 50px;
    }
}
